:root {
  --primary-color: var(--bs-blue);
  --text-color: var(--bs-white);
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 5em;
}

.list-unstyled li {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

label {
  text-align: center;
  display: block;
  padding: 0.5em;
}

.input-radio-custom {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.input-radio-custom:checked+label {
  font-weight: bold;
  background: var(--primary-color);
  color: var(--text-color);
}

#outputFormatter {
  min-height: 25vh;
  word-break: break-all;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

/*Dark Theme*/
.darkTheme {
  --primary-color: var(--bs-gray-900);
  --text-color: var(--bs-white);
}

.darkTheme body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.darkTheme .list-unstyled li {
  border: 1px solid rgba(255, 255, 255, 0.5)
}

.darkTheme .nav-link {
  color: white;
  ;
}

.darkTheme #formatter {
  background-color: #26272a;
}

#theme-toggle {
  visibility: hidden;
}

#theme-toggle+label {
  content: '';
  display: inline-block;
  cursor: pointer;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#theme-toggle:not(:checked)+label {
  background-color: gold;
}

#theme-toggle:checked+label {
  background-color: transparent;
  box-shadow: inset -.5em -.5em 1px 1px #fff;
}