body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 5em;
}

.list-unstyled li {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

label {
  text-align: center;
  display: block;
  padding: 0.5em;
}

.input-radio-custom {
  appearance: none;
  display: none;
}

.input-radio-custom:checked + label {
  font-weight: bold;
  background: #0d6efd;
  color: #fff;
}

#outputFormatter {
  min-height: 25vh;
  word-break: break-all;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
